version: "3.8"

services:
  test_runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test_runner
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - /app/.venv
    command: >
      sh -c "
        pip install --no-cache-dir -r requirements.txt && python script.py && python transcript.py && python llm.py && python each-personscore-docs.py && python docs.py && python sheet.py && python eye-tracker.py && python eye-docs.py && python eye-sheet.py && python final-mail.py   
      "
    networks:
      - test_network

networks:
  test_network:
    driver: bridge
